body {
	margin: 0;
	padding: 0;
}

header {
	height: 60px;
	width: 100%;
	background-color: black;
}

.head {
	height: 60px;	
	width: 1100px;
	/*background-color: red;*/
	margin: 0 auto;
}

main {
	width: 100%;
	background-color: #090c0f;
}

.slider {
	height: 800px;
	width: 100%;
	background-image: url("img/slider/witcher3.png");
}

.mainwrapper {
	width: 1100px;
	margin: 0 auto;
	background-color: #1c262f;
}

.mainwrapper a {
	height: 10px;
	width: 20px;
	margin: 0 auto;
	background-color: red;
}

.generos {
	height: 580px;
	width: 680px;
	margin: 0 auto;
}

.generosi {
	height: 540px;
	width: 430px;
	margin: 20px 5px 20px 20px;
	display: inline;
	float: left;
}

.generosd {
	height: 540px;
	width: 200px;
	margin: 10px 20px 10px 5px;
	display: inline;
	float: right;
}

.rectangulo1 {
	height: 150px;
	width: 417px;
	float: left;
	background-image: url(img/tww.gif);
	background-position: center;
}

.rectangulo2 {
	height: 150px;
	width: 417px;
	float: left;
	background-image: url(img/hld.gif);
	background-position: center bottom;
}

.cuadrado1 {
	height: 200px;
	width: 200px;
	margin: 20px 15px 20px 0px;
	display: inline;
	float: left;
	background-image: url(img/battle.gif);
	background-position: center;
}

.cuadrado2 {
	height: 200px;
	width: 200px;
	margin: 20px 15px 20px 0px;
	display: inline;
	float: left;
	background-image: url(img/destiny.gif);
	background-position: center;
}

.cuadrado3 {
	height: 260px;
	width: 200px;
	margin: 10px 0px 10px 0px;
	display: inline;
	float: left;
	background-image: url(img/division.gif);
	background-position: center;
}

.cuadrado4 {
	height: 260px;
	width: 200px;
	margin: 10px 0px 10px 0px;
	display: inline;
	float: left;
	background-image: url(img/zelda.gif);
	background-position: center;
}

.slidermarcas {
	height: 50px;
	width: 680px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.bestseller {
	height: 560px;
	width: 1100px;
	/*background-color: green;*/
}

.titulo {
	height: 35px;
	width: 100%;
	/*background-color: red;*/
}

.containerpa {
	height: 500px;
	width: 970px;
	margin: 0 auto;
}

.producta {
	height: 500px;
	width: 300px;
	margin-right: 11px;
	margin-left: 11px;
	float: left;
	display: inline;
	/*background-color: pink;*/
}

div.producta:hover {
	background-color: #FFD700;
} 

.producta p {
	text-align: center;
}

.producta img {
	padding-left: 20px;
	padding-right: 20px;
}

.boton {
	height: 15px;
	width: 50px;
	margin: 0 auto;
	/*background-color: red;*/
}

.ofertas {
	height: 560px;
	width: 1100px;
	/*background-color: violet;*/
}

.containerpb {
	height: 500px;
	width: 970px;
	margin: 0 auto;
}

.productb {
	height: 500px;
	width: 300px;
	margin-right: 11px;
	margin-left: 11px;
	float: left;
	display: inline;
	/*background-color: pink;*/
}

.productb p {
	text-align: center;
}

.productb img {
	padding-left: 20px;
	padding-right: 20px;
}

/*.productb a{
	height: 10px;
	width: 20px;
	margin: 0 auto;
	background-color: red;
}*/

.categorias {
	height: 560px;
	width: 1100px;
	/*background-color: yellow;*/
}

.containerpc {
	height: 500px;
	width: 970px;
	margin: 0 auto;
}

.slidergen {
	height: 500px;
	width: 150px;
	margin-right: 20px;
	margin-left: 20px;
	float: left;
	display: inline;
	/*background-color: grey;*/
}

.productc {
	height: 500px;
	width: 230px;
	margin-right: 15px;
	margin-left: 15px;
	float: left;
	display: inline;
	/*background-color: pink;*/
}

.containera img {
	margin: 0 auto;
}

.containerb img {
	margin: 0 auto;
}

.containerc img {
	margin: 0 auto;
}


footer {
	height: 365px;
	width: 100%
}

.foot {
	height: 310px;
	width: 100%;
	background-color:#000010;
}

.data {
	height: 310px;
	width: 1100px;
	margin: 0 auto;
	/*background-color: grey;*/
}

.copyright {
	height: 55px;
	width: 100%;
	background-color: black;
}

.copycont {
	height: 55px;
	width: 1100px;
	margin: 0 auto;
	background-color: white;
}