body {
	margin: 0;
	padding: 0;
}

header {
	height: 60px;
	width: 100%;
	background-color: black;
}

.head {
	height: 60px;	
	width: 1100px;
	margin: 0 auto;
}

.logo {
	height: 50px;
	width: 50px;
	display: inline;
}

.logo img {
	height: 50px;
	width: 50px;
	padding-top: 5px;
}

main {
	width: 100%;
	background-color: #090c0f;
}

.slider {
	height: 800px;
	width: 100%;
	background-image: url("img/slider/witcher3.png");
}

.mainwrapper {
	width: 1100px;
	margin: 0 auto;
	background-color: #1c262f;
}

.mainwrapper h1 {
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	font-style: italic;
	color: #E59400;
}

.generos {
	height: 580px;
	width: 680px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.generosi {
	height: 540px;
	width: 430px;
	margin: 20px 5px 20px 20px;
	display: inline;
	float: left;
}

.generosd {
	height: 540px;
	width: 200px;
	margin: 10px 20px 10px 5px;
	display: inline;
	float: right;
}



.rectangulo1 {
	height: 150px;
	width: 417px;
	float: left;
	background-image: url(img/tww.gif);
	background-position: center;
}

.rectangulo1 p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 2.7em;
	position: absolute;
	line-height: 149px;
	color: #fafafa;
	text-shadow: 2px 2px black;
	margin: 0;
	padding-left: 100px; 
}

.rectangulo1:hover img {
	display: none;
}

.rectangulo2 {
	height: 150px;
	width: 417px;
	float: left;
	background-image: url(img/hld.gif);
	background-position: center bottom;
}

.rectangulo2 p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 2.7em;
	position: absolute;
	line-height: 149px;
	color: #fafafa;
	text-shadow: 2px 2px black;
	margin: 0;
	padding-left: 150px; 
}

.rectangulo2:hover img {
	display: none;
}

.cuadrado1 {
	height: 200px;
	width: 200px;
	margin: 20px 15px 20px 0px;
	display: inline;
	float: left;
	background-image: url(img/battle.gif);
	background-position: center;
}

.cuadrado1 p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 2.7em;
	position: absolute;
	line-height: 200px;
	color: #fafafa;
	text-shadow: 2px 2px black;
	margin: 0;
	padding-left: 60px; 
}

.cuadrado1:hover img {
	display: none;
}

.cuadrado2 {
	height: 200px;
	width: 200px;
	margin: 20px 15px 20px 0px;
	display: inline;
	float: left;
	background-image: url(img/destiny.gif);
	background-position: center;
}

.cuadrado2 p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 2.7em;
	position: absolute;
	line-height: 200px;
	color: #fafafa;
	text-shadow: 2px 2px black;
	margin: 0;
	padding-left: 45px; 
}

.cuadrado2:hover img {
	display: none;
}

.cuadrado3 {
	height: 260px;
	width: 200px;
	margin: 10px 0px 10px 0px;
	display: inline;
	float: left;
	background-image: url(img/division.gif);
	background-position: center;
}

.cuadrado3 p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 2.7em;
	position: absolute;
	line-height: 260px;
	color: #fafafa;
	text-shadow: 2px 2px black;
	margin: 0;
	padding-left: 50px; 
}

.cuadrado3:hover img {
	display: none;
}

.cuadrado4 {
	height: 260px;
	width: 200px;
	margin: 10px 0px 10px 0px;
	display: inline;
	float: left;
	background-image: url(img/zelda.gif);
	background-position: center;
}

.cuadrado4 p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 2em;
	position: absolute;
	line-height: 260px;
	color: #fafafa;
	text-shadow: 2px 2px black;
	margin: 0;
	padding-left: 20px; 
}

.cuadrado4:hover img {
	display: none;
}

.slidermarcas {
	height: 50px;
	width: 680px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.boton {
	height: 70px;
	width: 100px;
	margin: 0 auto;
}

.boton a:link, a:visited {
    background-color: red;
    color: #fafafa;
    padding: 14px 25px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

.bestseller {
	height: 640px;
	width: 1100px;
	/*background-color: green;*/
}

.titulo {
	height: 50px;
	width: 100%;
	/*background-color: red;*/
}

.containerpa {
	height: 570px;
	width: 970px;
	margin: 0 auto;
	padding-top: 20px;
}

.producta {
	height: 570px;
	width: 300px;
	margin-right: 11px;
	margin-left: 11px;
	float: left;
	display: inline;
	/*background-color: pink;*/
}

div.producta:hover {
	background-color: #FFD700;
} 

.producta p {
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #fafafa;
}

.producta img {
	padding-left: 20px;
	padding-right: 20px;
}

.ofertas {
	height: 640px;
	width: 1100px;
	/*background-color: violet;*/
}

.containerpb {
	height: 570px;
	width: 970px;
	margin: 0 auto;
	padding-top: 20px;
}

.productb {
	height: 570px;
	width: 300px;
	margin-right: 11px;
	margin-left: 11px;
	float: left;
	display: inline;
	/*background-color: pink;*/
}

.productb p {
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	color: #fafafa;
}

.productb img {
	padding-left: 20px;
	padding-right: 20px;
}

.categorias {
	height: 560px;
	width: 1100px;
}

.containerpc {
	height: 500px;
	width: 970px;
	margin: 0 auto;
	padding-top: 60px;
}

.slidergen {
	height: 500px;
	width: 150px;
	margin-right: 20px;
	margin-left: 20px;
	float: left;
	display: inline;
}

.productc {
	height: 500px;
	width: 230px;
	margin-right: 15px;
	margin-left: 15px;
	float: left;
	display: inline;
}

.containera img {
	margin: 0 auto;
}

.containerb img {
	margin: 0 auto;
}

.containerc img {
	margin: 0 auto;
}


footer {
	height: 300px;
	width: 100%
}

.foot {
	height: 245px;
	width: 100%;
	background-color:#000010;
}

.titulob p {
	font-family: 'Titillium Web', sans-serif;
	color: #E59400;
}

.data {
	height: 310px;
	width: 1100px;
	margin: 0 auto;
}

.data ul {
	display: inline-block;
	margin-top: 0;
}

.data ul li {
	list-style-type: none;
	font-family: 'Titillium Web', sans-serif;
	color: #fafafa;
	padding-bottom: 3px;
}

.games {
	padding-left: 0;
}

.sociales {
	float: right;
}

.sociales li {
	display: inline-block;
	padding-right: 3px;
}

.sociales li img {
	height: 40px;
	width: 40px;
}

.copyright {
	height: 55px;
	width: 100%;
	background-color: black;
}

.copycont {
	height: 55px;
	width: 1100px;
	margin: 0 auto;
}

.logopie {
	height: 50px;
	width: 50px;
	display: inline;
}

.copycont img {
	height: 50px;
	width: 50px;
	display: inline;
}

.copycont p {
	font-family: 'Titillium Web', sans-serif;
	color: #fafafa;
	display: inline;
}